.TablePager_col_rv_page_id,
.TablePager_col_ans_avg,
.TablePager_col_ans_count {
  font-weight: bold;
}

.mw-special-RatePageContests .mw-htmlform-matrix td:not(:first-child) {
  text-align: center;
}

.mw-special-RatePageContests .mw-htmlform-matrix th {
  padding: 0 5px;
}

// Move the message boxes away from subtitle
.messagebox, .errorbox, .warningbox, .successbox {
  margin-top: 1.5em;
}