/* general or desktop stuff */
#ratingstars {
	height: 25px;
	display: flex;
	justify-content: center;
}

.ratingstar {
	float: left !important;
	background-repeat: no-repeat !important;
}

.ratingstar.canvote {
	cursor: pointer;
}

.ratingstar-desktop {
	width: 24px;
	height: 20px;
	background-size: contain;
	background-position: center;
}

.ratingstars-embed {
	display: flex;
	justify-content: space-around;
}

.ratingstar-embed {
	padding-top: 17%;
	background-size: contain;
	background-position: center;
	flex: 1;
}

.ratingstar-full {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im00NiAyMjYgNzMtMjI2IDczIDIyNi0xOTItMTQwaDIzOHoiIGZpbGw9IiNmYzAiLz48L3N2Zz4=");
}

.ratingstar-plain {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im00NiAyMjYgNzMtMjI2IDczIDIyNi0xOTItMTQwaDIzOHoiIGZpbGw9IiM4MDgwODAiLz48L3N2Zz4=");
}

.ratingstar-1-4 {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHJlY3QgeD0iLTYuMzQxNSIgd2lkdGg9Ijk3LjM0MyIgaGVpZ2h0PSIyMzIuNTkiIC8+PC9jbGlwUGF0aD48L2RlZnM+PHBhdGggZD0ibTQ2IDIyNiA3My0yMjYgNzMgMjI2LTE5Mi0xNDBoMjM4eiIgZmlsbD0iIzgwODA4MCIvPjxwYXRoIGQ9Im00NiAyMjYgNzMtMjI2IDczIDIyNi0xOTItMTQwaDIzOHoiIGNsaXAtcGF0aD0idXJsKCNhKSIgZmlsbD0iI2ZjMCIvPjwvc3ZnPg==");
}
.ratingstar-2-4 {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHJlY3QgeD0iLTYuMzQxNSIgd2lkdGg9IjEyNS4zNCIgaGVpZ2h0PSIyMzIuNTkiIC8+PC9jbGlwUGF0aD48L2RlZnM+PHBhdGggZD0ibTQ2IDIyNiA3My0yMjYgNzMgMjI2LTE5Mi0xNDBoMjM4eiIgZmlsbD0iIzgwODA4MCIvPjxwYXRoIGQ9Im00NiAyMjYgNzMtMjI2IDczIDIyNi0xOTItMTQwaDIzOHoiIGNsaXAtcGF0aD0idXJsKCNhKSIgZmlsbD0iI2ZjMCIvPjwvc3ZnPg==");
}

.ratingstar-3-4 {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHJlY3QgeD0iLTguMDQ0NCIgeT0iLTMuMTU0IiB3aWR0aD0iMTU0Ljc0IiBoZWlnaHQ9IjIzMi41OSIgLz48L2NsaXBQYXRoPjwvZGVmcz48cGF0aCBkPSJtNDYgMjI2IDczLTIyNiA3MyAyMjYtMTkyLTE0MGgyMzh6IiBmaWxsPSIjODA4MDgwIi8+PHBhdGggZD0ibTQ2IDIyNiA3My0yMjYgNzMgMjI2LTE5Mi0xNDBoMjM4eiIgY2xpcC1wYXRoPSJ1cmwoI2EpIiBmaWxsPSIjZmMwIi8+PC9zdmc+");
}

.ratingstar-mousedown {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjM4IiBoZWlnaHQ9IjIyNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im00NiAyMjYgNzMtMjI2IDczIDIyNi0xOTItMTQwaDIzOHoiIGZpbGw9IiNmZmFiMDAiLz48L3N2Zz4=") !important;
}

.ratingsinfo-desktop {
	line-height: 1.3em;
	font-size: 60%;
	color: #666666;
	text-align: center;
}

.ratingsinfo-embed {
	line-height: 1.3em;
	color: #666666;
	text-align: center;
	padding: 5px 0;
}

#p-ratePage-vote-title > .body {
	padding-top: 0.3em !important;
}

/* mobile & footer stuff */
.pageRatingStars {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.ratingsinfo-mobile {
	color: #72777d;
	float: left;
	font-size: 90%;
	margin-top: 0.1em;
	text-align: center;
	width: 100%;
}

.ratingstar-mobile {
	width: 16%;
	height: 60px;
	max-width: 70px;
	background-size: contain;
	background-position: center;
}

.ratepage-embed {
	max-width: 95%;
	margin: auto;
}
