#ainut-app-form {
  display: none;
  max-width: 50em;

  .client-nojs {
	display: block;
  }

  .oo-ui-fieldLayout-messages-notice .oo-ui-icon-info {
	display: none;
  }

  .mw-ainut-length-info {
	text-align: center;
	font-style: italic;
	display: block;
  }

  .mw-ainut-length-short {
	font-weight: normal;
	font-size: smaller;
  }
}
