<div class="version-overview">
	<div class="version-head">{{_ "bs-ugradehelper-current-title"}}</div>
	<div class="version-box">
		<div class="version-description">
			{{_ "bs-ugradehelper-package-description" package blueSpiceVersion package_limited}}
		</div>
		<div class="version-term">
			<div>{{_ "bs-upgradehelper-package-term-label"}}:</div>
			<div>{{_ "bs-upgradehelper-package-term" package}}</div>
		</div>
		<div class="version-support-hours">
			<div>{{_ "bs-upgradehelper-package-licensed-users-label"}}:</div>
			<div>{{_ "bs-upgradehelper-package-licensed-users" licensedUsers}}</div>
		</div>
		<div class="version-admin">
			<div>{{_ "bs-upgradehelper-package-admin-label"}}:</div>
			<div>{{_ "bs-upgradehelper-package-admin" adminUsername}}</div>
		</div>

		<div class="version-buttons">
			<div aria-disabled="false" class="version-button-resign-handler oo-ui-widget oo-ui-widget-enabled oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-buttonWidget">
				<span role="button" tabindex="0" aria-disabled="false" class="oo-ui-buttonElement-button">
					<span class="oo-ui-iconElement-icon"></span>
					<span class="oo-ui-labelElement-label">{{_ "bs-upgradehelper-package-button-resign"}}</span>
					<span class="oo-ui-indicatorElement-indicator"></span>
				</span>
			</div>
			<div aria-disabled="false" class="version-button-upgrade-handler oo-ui-widget oo-ui-widget-enabled oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-buttonWidget">
				<span role="button" tabindex="0" aria-disabled="false" class="oo-ui-buttonElement-button">
					<span class="oo-ui-iconElement-icon"></span>
					<span class="oo-ui-labelElement-label">{{bs-upgradehelper-package-button-upgrade}}</span>
					<span class="oo-ui-indicatorElement-indicator"></span>
				</span>
			</div>
		</div>
	</div>
</div>
