<div class="version-overview single">
	<div class="version-box">
		<div class="version-term">
			<div>{{package_label}}:</div>
			<div>{{package}}</div>
		</div>
		<div class="version-number">
			<div>Version:</div>
			<div>{{versionName}}</div>
		</div>
		<div class="version-support-hours">
			<div>{{licensedUsers_label}}:</div>
			<div>{{max_user}}</div>
		</div>
		<div class="version-admin">
			<div>Admin username:</div>
			<div>{{adminUsername}}</div>
		</div>
	</div>
</div>
