/**
  * File: MOCA_QuickFixPanel_Style.css
  *
  * Description: CSS classes for QuickFixPanel
  *
  * @author Chrysovalanto Kousetti
  * @email valanto@gmail.com
  *
  */

.smwi_quickFixPanel_header_cell {
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: rgb(255,255,255);
	background: rgb(216,133,10);
	font-weight: bold;
	border: thin solid rgb(216,133,10);
}

.smwi_quickFixPanel_header_note_cell {
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	color: rgb(0,0,0);
	background: rgb(249,197,119);
	border: thin solid rgb(216,133,10);
}

.smwi_quickFixPanel_nosuggestions {
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: rgb(0,0,0);
	background: rgb(249,197,119);
	border: thin solid rgb(216,133,10);
}

.smwi_quickFixPanel_nosuggestions {
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
	color: rgb(0,0,0);
	background: rgb(249,197,119);
	border: thin solid rgb(216,133,10);
}

.smwi_quickFixPanel_withsuggestions_table {
	table-layout: auto;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	color: rgb(0,0,0);
	/*background: rgb(250,250,250);
	border: medium solid rgb(216,133,10);*/
}

.smwi_quickFixPanel_issuesfix_table {
	table-layout: auto;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	color: rgb(0,0,0);
	background: rgb(250,250,250);
	/*background: rgb(249,197,119);
	border: thin solid rgb(216,133,10);*/
}

.smwi_quickFixPanel_withsuggestions_title {
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	color: rgb(0,0,0);
	background: rgb(249,197,119);
}

.smwi_quickFixPanel_withsuggestions_title {
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	color: rgb(0,0,0);
	background: rgb(249,197,119);
}

.smwi_quickFixPanel_content {
	font-size: 12px;
	font-weight: normal;
	/*background: rgb(249,197,119);*/
}

.smwi_quickFixPanel_content_b {
	font-size: 18px;
	font-weight: bold;
	/*background: rgb(249,197,119);*/
}

.smwi_quickFixPanel_category_title {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	color: rgb(21,104,217);
	background: rgb(250,250,250);
	/*border: medium solid rgb(216,133,10);*/
}

.smwi_quickFixPanel_category_text {
	font-size: 12px;
	font-weight: normal;
	color: rgb(0,0,0);
}

.smwi_quickFixPanel_relation_title {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	color: rgb(128,15,66);
	background: rgb(250,250,250);
	/*background: rgb(249,197,119);
	border: thin solid rgb(216,133,10);*/
}

.smwi_quickFixPanel_relation_text {
	font-size: 12px;
	font-weight: normal;
	color: rgb(0,0,0);
}

.smwi_quickFixPanel_property_title {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	color: rgb(10,133,81);
	background: rgb(250,250,250);
	/*background: rgb(249,197,119);
	border: thin solid rgb(216,133,10);*/
}

.smwi_quickFixPanel_property_text {
	font-size: 12px;
	font-weight: normal;
	color: rgb(0,0,0);
}

.smwi_quickFixPanel_moreInformation_title {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: rgb(250,250,250);
	background: rgb(216,133,10);
}

.smwi_quickFixPanel_attention {
	font-size: 13px;
	font-weight: bold;
	color: rgb(216,133,10);
}

